body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

img {
  display: block;
}

.header {
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
  border-bottom: 1px solid #e7e9fc;
}

.header a {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header-section {
  display: flex;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-logo-raleway {
  color: #2e2f42;
}

.header-menu-nav {
  display: flex;
  gap: 40px;
}

.header-menu-link {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link:hover::after,
.header-menu-link:focus::after,
.header-menu-link.current::after {
  opacity: 1;
}

.header-menu-link::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
}

.header-address {
  margin-left: auto;
}

.header-address-list {
  display: flex;
  gap: 40px;
}

.header-address-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link:hover,
.header-menu-link:focus,
.header-address-link:hover,
.header-address-link:focus,
.header-menu-link.current {
  color: #404bbf;
}

.hero {
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 188px;
  padding-bottom: 188px;
  background-color: #2e2f42;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
}

.hero-text {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.hero-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

.section-slogan {
  padding-top: 120px;
  padding-bottom: 120px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-slogan-list {
  display: flex;
  gap: 24px;
}

.section-slogan-item {
  width: calc((100% - 24px * 3) / 4);
}

.slogan-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
}

.section-slogan-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.section-slogan-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.section-team {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-team-item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
}

.section-team-title {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin: 0 auto;
  margin-bottom: 72px;
}

.section-team-list {
  display: flex;
  gap: 24px;
}

.section-team-item {
  width: calc((100% - 24 * 3) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.card-description-team {
  padding: 32px 0;
}

.section-team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.section-team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin-bottom: 8px;
}

.section-team-socials {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.section-team-socials-item {
  width: 40px;
  height: 40px;
}

.section-team-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-team-icon:hover,
.section-team-icon:focus {
  background-color: #404bbf;
}

.section-team-icon-svg {
  fill: #f4f4fd;
}

.section-portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-portfolio-title {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin: 0 auto;
  margin-bottom: 72px;
}

.section-portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.section-portfolio-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-portfolio-item:hover .portfolio-cover-text {
  transform: translateY(0%);
}

.portfolio-cover {
  position: relative;
  overflow: hidden;
}

.portfolio-cover-text {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-portfolio-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.card-description {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.section-portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.section-portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-section {
  display: flex;
  align-items: baseline;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo-raleway {
  color: #f4f4fd;
}

.footer-socials {
  margin-left: 120px;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.footer-text-social {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.section-footer-socials {
  display: flex;
  gap: 16px;
}

.section-footer-socials-item {
  width: 40px;
  height: 40px;
}

.section-footer-icon {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-footer-icon:hover,
.section-footer-icon:focus {
  background-color: #31d0aa;
}

.section-footer-icon-svg {
  fill: #f4f4fd;
}

.footer-sub {
  margin-left: auto;
}

.fotter-paragraph-sub {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.footer-form {
  display: flex;
  gap: 24px;
}

.footer-email {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  width: 264px;
  color: #fff;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  padding-left: 16px;
}

.footer-email::placeholder {
  color: #fff;
}

.footer-sub-button {
  display: flex;
  min-width: 165px;
  height: 40px;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  cursor: pointer;
  background-color: #4D5AE5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-sub-button:hover,
.footer-sub-button:focus {
  background-color: #404bbf;
}

.footer-btn-icon {
  fill: #ffffff;
  margin-left: 16px;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  opacity: 0;
  visability: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay.is-open {
  opacity: 1;
  visability: visible;
  pointer-events: auto;
}

.modal {
  width: 408px;
  min-height: 584px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 24px 24px 24px;
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay:not(.is-open) .modal{
  transform: translate(-50%, -50%) scale(0.8);
}

.icon-close-btn{
  display: flex;
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  top: 24px;
  right: 24px;
  background-color: #e7e9fc;
  align-items: center;
  justify-content: center;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close{
  width: 8px;
  height: 8px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close-btn:hover,
.icon-close-btn:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.modal-paragraph {
  font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 16px;
}

.inputs-containers{
  margin-bottom: 8px;
}

.inputs-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.inputs-container {
  position: relative;
}

.inputs {
  display: inline-block;
  height: 40px;
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 360px;
  height: 40px;
  padding-left: 38px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.inputs:focus {
  border-color: #4d5ae5;
}

.inputs:focus + .input-icon {
  fill: #4D5AE5;
}

.input-icon{
  fill: #2e2f42;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.inputs-textarea-container {
  margin-bottom: 16px;
}

.comment {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  width: 100%;
  height: 120px;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment:focus {
  border-color: #4D5AE5;
}

.checkbox-container {
  margin-bottom: 24px;
}

.user-privacy:checked + .user-privacy-label .user-privacy-true{
  background-color: #404bbf;
  border: none;
  fill: #F4F4FD;
}

.user-privacy-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.user-privacy-true {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-right: 8px;
}

.checkbox-policy {
  color: #4d5ae5;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.modal-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4D5AE5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
  padding: 16px 32px;
  margin: 0 auto;
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
}